/*----------[PO-9]-Header-Components------------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #323232;
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    max-width: 1440px;
    height: 60px; 
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 24px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: rotate(360deg);
}

.logo-text {
    font-weight: bold;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    color: #DEDEDE;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #DEDEDE;
    margin: 2px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
/*----------[PO-9]-Header-Components------------*/
/*----------[PO-11]-Hero Section------------*/
.portfolio-container {
    background: #202020;
    color: white;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: space-between;
}

.portfolio-content {
    max-width: 600px;
}

.portfolio-heading {
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    width: 521px;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    letter-spacing: -0.5px;
}

.portfolio-description {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    width: 411px;
    color: #959595;
    font-family: "Manrope", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
    letter-spacing: -0.5px;
}

.contact-button {
    display: inline-flex;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s, background-color 0.3s;
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #9D9D9D;
    color: #FFF;
    font-family: "Manrope", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 198px;
    height: 25px;
}

.contact-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contact-button i {
    margin-right: 2px;
}

.profile-picture {
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s, transform 0.5s;
    width: 400px;
    height: 400px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .portfolio-content {
        margin-top: 40px;
        margin: 0 auto;
    }

    .portfolio-heading {
        font-size: 36px;
    }
    .portfolio-description {
        margin: 0 auto;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        margin: 0 auto;
    }
    .contact-button {
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .portfolio-container {
        padding: 20px;
    }

    .portfolio-heading {
        font-size: 28px;
        width: 321px;
    }

    .portfolio-description {
        font-size: 15px;
        width: 321px;
    }

    .contact-button {
        font-size: 14px;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .profile-picture {
        margin: 0 auto;
    }
}

/*----------[PO-11]-Hero Section------------*/
/*----------[PO-3]-Featured Work Section------------*/
.featured-work-container{
    background: #202020;
    max-width: 1520px;
    margin: 0 auto;
}
.featured-work-section{
    padding-left: 130px ;
}
@media (max-width: 768px){
    .featured-work-section{
        max-width: 590px;
        margin: 0 auto;
        position: relative;
        right: 100px;
    }
}
@media (max-width: 480px){
    .featured-work-section{
        max-width: 330px;
        margin: 0 auto;
    }
}


/*----------[PO-3]-Featured Work Section------------*/
/*----------[PO-2]-Visual Explorations Section------------*/
.gallery-title {
    text-align: center;
    margin-bottom: 40px;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.visual-explorations-container{
    background: #202020;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 12px;
    background: #202020;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 0.5s forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.05);
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/*----------[PO-2]-Visual Explorations Section------------*/
/*----------[PO-12]-Personal Projects Section------------*/

.personal-projects-container{
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
}

.header {
    margin: 40px 0;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 0.8s ease forwards;
    color: #DEDEDE;
    text-align: center;
    font-family: "Manrope", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.project-card {
    transform: translateY(20px);
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 12px;
    background: #202020;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 0.5s forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.project-card img {
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}

.project-card img:hover {
    transform: scale(1.02);
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*----------[PO-12]-Personal Projects Section------------*/
/*----------[PO-13]-Contact Component-----------*/
.contact-container{
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #202020;
    color: white;
    text-align: center;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-title {
    margin-bottom: 20px;
    color: #DEDEDE;
    text-align: center;
    font-family: "Manrope", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.description-text {
    margin: 0;
    color: #959595;
    text-align: center;
    font-family: "Manrope", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; 
    letter-spacing: -0.5px;
}

.email-button {
    display: inline-flex;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    padding: 16px 48px;
    background: #9D9D9D;
    color: #FFF;
    font-family: "Manrope", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 198px;
    height: 25px;
    margin: 0 auto;
    margin-top: 20px;
}
.email-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.email-button i {
    margin-right: 2px;
}
@media (max-width: 480px){
    .description-text {
        font-size: 20px;
    }
}
/*----------[PO-13]-Contact Component-----------*/
/*----------[PO-14]-Footer Section-----------*/

.footer-section-container{
    background: #202020;
    color: #aaa;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    max-height: 121px;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
    max-width: 1440px;
    margin: 0 auto;
}
.copyright {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    color: #959595;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
    letter-spacing: -0.5px;
}
.copyright .highlight {
    color: #ECECEC;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
}
.social-icons {
    display: flex;
    gap: 30px;
}
.social-icons a {
    color: #aaa;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.3s ease;
}
.social-icons a:hover {
    color: #fff;
}

@media (max-width: 600px) {
    .social-icons {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .social-icons.show {
        display: flex;
    }
}
/*----------[PO-14]-Footer Section-----------*/