/*----------[PO-9]-Header-Components------------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #323232;
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    width: 1440px;
    height: 60px; 
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 24px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: rotate(360deg);
}

.logo-text {
    font-weight: bold;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    color: #DEDEDE;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #DEDEDE;
    margin: 2px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
/*----------[PO-9]-Header-Components------------*/