/*----------[PO-24]-Work-Html-Header-----------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    max-width: 1440px;
    height: 60px; 
    margin: 0 auto;
    background-image: url('assets/[PO-24]/Rectangle 1 (1).png');
    background-size: cover;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 24px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: rotate(360deg);
}

.logo-text {
    font-weight: bold;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    color: #DEDEDE;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #DEDEDE;
    margin: 2px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
/*----------[PO-24]-Work-Html-Header-----------*/
/*----------[PO-25]-Header-İmage-----------*/
.header-image-container{
    margin: 0 auto;
}
.header-image{
    width: 1520px;
    margin: 0 auto;
    position: relative;
    left: 10.1%;
    
}
@media(max-width:1440px){
    .header-image-container{
        display: flex;
        align-items: flex-start;
        padding-right: 140px;
        position: relative;
        left: -140px;

    }
}
@media(max-width:680px){
    .header-image{
        width: 200%;
    }
}

/*----------[PO-25]-Header-İmage-----------*/
/*----------[PO-5]-Problem-Statement-Component-and-Covibe-Component-----------*/

.covibe-wrapper {
    background: #202020;
    color: #fff;
    padding: 40px;
    position: relative;
    bottom: 4px;
    max-width: 1440px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.covibe-header {
    margin-bottom: 40px;
    
}
.covibe-header h1 {
    margin-bottom: 10px;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    color: #807e7e;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.7;
}
.covibe-header p {
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.5px;
}
.covibe-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.covibe-detail-item {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.covibe-detail-item i {
    margin-right: 10px;
    font-size: 20px;
}
.covibe-detail-item span {
    font-weight: 400;
}
.covibe-detail-item strong {
    font-weight: 700;
}
.covibe-problem {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: relative;
    top: 30px;
}
.covibe-problem h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.covibe-problem p {
    line-height: 1.4;
    margin: 0;color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
    letter-spacing: -0.5px;
}
@media(max-width:768px){
    .covibe-details{
        flex-wrap: wrap;
        display: flex;
        gap: 10px;
    }
    .covibe-detail-item{
        display: flex;
    }
}

/*----------[PO-5]-Problem-Statement-Component-and-Covibe-Component-----------*/
/*----------[PO-8]-Prototype-Section-----------*/
.app-wrapper {
    background: #202020;
    color: #fff;
    max-width: 1440px;
    padding: 40px ;
    margin: 0 auto;
    position: relative;
    bottom: 4px;
    
  }
  .content-container {
    margin: 0 auto;
  }
  .top-banner {
    padding: 20px 0;
    border-bottom: 2px solid #A5A5A5;
    margin-bottom: 40px;
    width: 188px;
    height: 2px;
  }
  .top-banner h1 {
    font-weight: normal;
    margin: 0;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.7;
  }
  .feature-image {
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .feature-image.visible {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 768px) {
    .top-banner{
        width: 147px;
        height: 2px;
    }
    .top-banner h1 {
      font-size: 12px;
    }
    .content-container {
      padding: 10px;
    }
  }
  @media (max-width: 480px) {
    .top-banner{
        width: 128px;
        height: 2px;
    }
    .top-banner h1 {
      font-size: 10px;
    }
  }
/*----------[PO-8]-Prototype-Section-----------*/
/*----------[PO-1]-Solution Component-----------*/
.page-container {
    margin: 0 auto;
    padding: 0;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    padding: 40px;
    position: relative;
    bottom: 5px;
}

.layout-container {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    
}

.visual-component {
    flex: 1;
    padding-right: 40px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.visual-component img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.content-section {
    flex: 1 ;
    color: white;
    padding-left: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    margin-top: 290px;
}

.solution-identifier {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.7;
}

.solution-description {
    margin: 0;
    color: #FFF;
    font-family: "Manrope", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
    letter-spacing: -0.5px;
}

@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }

    .visual-component {
        padding-right: 0;
    }

    .content-section {
        padding-left: 0;
        font-size: 24px;
    }

    .solution-description {
        font-size: 24px;
    }
}
/*----------[PO-1]-Solution Component-----------*/
/*----------[PO-26]-Solution Component-2-----------*/
.galaxy-container {
    background: #202020;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    bottom: 5px;
   }

   .stellar-wrapper {
    display: flex;
    animation: cosmicFadeIn 1.5s ease-in-out;
   }

   .nebula-text {
    flex: 1;
    padding: 20px;
    margin-top: 240px;
   }

   .orbit-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .orbit-image img {
    animation: meteorSlideIn 1.5s ease-in-out;
    width: 100%;
    max-width: 500px;
    height: auto;
   }

   .cosmic-title {
    margin-bottom: 10px;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.7;
   }

   .galactic-description {
    margin: 0;
    margin: 0;
    color: #FFF;
    font-family: "Manrope", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
    letter-spacing: -0.5px;
   }

   @keyframes cosmicFadeIn {
    from {
     opacity: 0;
    }
    to {
     opacity: 1;
    }
   }

   @keyframes meteorSlideIn {
    from {
     transform: translateX(100%);
    }
    to {
     transform: translateX(0);
    }
   }
   @media (max-width: 768px) {
    .stellar-wrapper {
      flex-direction: column;
      position: relative;
      right: 17px;
    }

    .cosmic-title {
      font-size: 24px;
      padding-left: 0;
    }

    .galactic-description {
        font-size: 24px;
        padding-left: 0;
    }

    .orbit-image img {
      display: none;
    }
   }


/*----------[PO-26]-Solution Component-2-----------*/
/*----------[PO-6]-Conclusion Section-----------*/
.cosmic-wrapper {
    margin: 0;
    background: #202020;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    bottom: 5px;
}

.conclusion-section {
    margin: 0 auto;
    max-width: 940px;
}

.conclusion-label {
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.7;
}

.conclusion-text {
    margin-bottom: 40px;
    color: #DEDEDE;
    font-family: "Manrope", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.5px;
}

.social-icons-image {
    width: 100%;
    max-width: 950px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 8px;
    margin: 0 auto;
    
}

.next-case {
    text-align: center;
    text-decoration: underline; 
    cursor: pointer;
    color: #DEDEDE;
    text-align: center;
    font-family: "Manrope", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
    letter-spacing: -0.5px;
    margin-top: 40px;
}

.next-case:hover {
    opacity: 0.8;
}
/*----------[PO-6]-Conclusion Section-----------*/
/*----------[PO-14]-Footer Section-----------*/

.footer-section-container{
    background: #202020;
    color: #aaa;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    max-height: 121px;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
}
.copyright {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    color: #959595;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; 
    letter-spacing: -0.5px;
}
.copyright .highlight {
    color: #ECECEC;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
}
.social-icons {
    display: flex;
    gap: 30px;
}
.social-icons a {
    color: #aaa;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.3s ease;
}
.social-icons a:hover {
    color: #fff;
}

@media (max-width: 600px) {
    .social-icons {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .social-icons.show {
        display: flex;
    }
}
/*----------[PO-14]-Footer Section-----------*/